    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style1.css">
    <title>CyberShield</title>
</head>
<body>
    <header>
        <a href="#" class="logo"></a>

        <nav>
            <a href="#" class="active"> Home</a>
            <a href="features" >Features</a>
            <a href="about" >About us</a>
            <a href="privacy" >Privacy</a>
            
        </nav>
    </header>
    <section class="home">
        <div class="home-img">
            <img src="/static/main.png" alt="">
        </div>
        <div class="home-content">
            <h1>Hi, It's <span>CyberShield</span></h1>
            <h3 class="typing-text">Empowering Security<span></span></h3>
            <p>CyberShield is a powerful tool designed to enhance cybersecurity assessments by offering advanced features like Nmap integration, encryption/decryption, steganography, and web crawling. Explore vulnerabilities, assess system security, and safeguard your digital assets with an intuitive, user-friendly interface.. 
                        
            </p>
            <br>
            <a href="/features" class="btn">
                Explore More</a>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>